@font-face {
  font-family: "LINESeedKR";
  src: url("/fonts/LINESeedSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NEXONLv1Gothic";
  src: url("/fonts/NEXONLv1GothicLight.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("/fonts/woff2-subset/Pretendard-Bold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("/fonts/woff2-subset/Pretendard-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("/fonts/woff2-subset/Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("/fonts/woff2-subset/Pretendard-Regular.subset.woff2") format("woff2");
}

.font-pretendard {
  font-family: "Pretendard", sans-serif;
}

.font-line {
  font-family: "LINESeedKR", sans-serif;
}

.font-gothic {
  font-family: "NEXONLv1Gothic", sans-serif;
}
